<!-- app.component.html -->
<div class="container text-center">
  <button (click)="onExportServices()">Export</button>
  <button (click)="onUploadServices()">Import</button>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="single" accept="*.json" style="display:none;" />
    <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->
  
    <table mat-table [dataSource]="services" #mytable class="my-table mat-elevation-z8">
  
      <ng-container matColumnDef="ServiceId">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="InstanceCount">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.instanceCount}} </td>
      </ng-container>

      <ng-container matColumnDef="PlanceConstraint">
        <th mat-header-cell *matHeaderCellDef> PlanceConstraint </th>
        <td mat-cell *matCellDef="let element"> {{element.planceConstraint}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit</a>
          <!-- <a (click)="openDialog('Delete',element)">Delete</a>   -->
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>